@model IEnumerable<Web.Models.MatchModel>

@{
    ViewBag.Title = "Index";
}
<table class="table">
    <thead>
    <tr>
        <td>
            Czerwoni
        </td>
        <td id="red">
            &nbsp;
        </td>
        <td id="blue">
            &nbsp;
        </td>
        <td>
            Niebiescy
        </td>
    </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.RedTeam
            </td>
            <td>
                @item.RedScore
            </td>
            <td>
                @item.BlueScore
            </td>
            <td>
                @item.BlueTeam
            </td>
        </tr>
    }

</table>